 * {
    box-sizing: border-box;
  }
  
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
  
    /* Visual */
    background-color: rgb(236, 229, 229);  
  }
  /*size of image on index.html*/
    .card-img-top {
      height: 9cm;
    }
/*styling of images in portfolio.html*/
    .card {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    }

    .container {
      margin-top: 1cm;
      width: 1024px;
    }
   
    /*instructions for when screen size >768px*/
    @media screen and (max-width: 768px) {
    
      .container {
        /* Box-model */
        width: 100%;
      }
  }